.button {
    outline: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    height: 36px;
    line-height: 38px;
    padding: 0 23px;
    background: #b81c12;
    background: -webkit-linear-gradient(#da3422, #980402);
    background:         linear-gradient(#da3422, #980402);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #a70014;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.button_larger {
    height: 48px;
    line-height: 50px;
    padding-left: 29px;
    padding-right: 29px;
    font-size: 24px;
    text-transform: none;
}

.button:active {
    position: relative;
    top: 1px;
}