.features {
    height: 395px;
    padding: 37px 0 0;
}
    .features__list {
        margin: -20px;
        font-size: 15px;
        line-height: 20px;
        color: #fff;
        text-align: center;
    }
        .features__list__item {
            display: inline-block;
            vertical-align: top;
            margin: 20px;
            width: 280px;
        }

            .features__list__item__image {
                height: 118px;
                line-height: 114px;
                vertical-align: middle;
                text-align: center;
            }

                .features__list__item__image__file {
                    max-width: 100%;
                    max-height: 100%;
                }

            .features__list__item__title {
                margin: 14px 0 0;
             }